extends ../../_base/layout.pug

prepend vars
  - var pageTitle = 'Add Testcase'

block content

  +c-page-title-breadcrumb({
    title: title,
    subtitle: '',
    breadcrumbList: {"Home": "/", "Management": "/management", "Testcases": "/management/testcases", "Add":""}
  })

  section.content
    // Your Page Content Here
    .row
      .col-xs-12
        // Horizontal Form
        .box.box-info
          //- .box-header.with-border
            //- h3.box-title #{title}
          // /.box-header
          // form start
          form.form-horizontal#formAddTestcase(name="addtestcase",method="post",action="/management/testcases/add", data-parsley-validate="")
            .box-body
              .form-group
                label.col-sm-2.control-label(for='pname') Program
                .col-sm-10
                  select.form-control#pname(name='program', required='')
                    option(value='') Choose
                    if result.program
                      if programId
                        for el in result.program
                          option(value=el._id, selected=(el._id == programId)) #{el.name} - #{el.version} - #{el.language}
                      else
                        for el in result.program
                          option(value=el._id) #{el.name} - #{el.version} - #{el.language}
              .form-group
                label.col-sm-2.control-label(for='cname') Category
                .col-sm-10
                  select.form-control#cname(name='category', required='')
                    option(value='') Choose
                    if result.category
                      for el in result.category
                        option(value=el._id) #{el.name}
              .form-group
                label.col-sm-2.control-label(for='tname') Testcase Name
                .col-sm-10
                  input#tname.form-control(type='text', placeholder='Name of Testcase', name='testcase', required='', minlength='3', data-parsley-pattern="/[a-z0-9 ]/ig")
              .form-group
                label.col-sm-2.control-label(for='turl') URL
                .col-sm-10
                  input#turl.form-control(type='text', placeholder='http//example.com', name='url', required='', minlength='3')
              .form-group
                label.col-sm-2.control-label(for='tbutton')
                  | Click button to trigger
                  a(class="top", data-placement="top", data-toggle="tooltip", href="#", data-original-title="Optional! Suitable for testing openable item; eg menu: open menu then save screenshot")
                    .fa.fa-question-circle
                .col-sm-10
                  input#tbutton.form-control(type='text', placeholder='Class name or id of button', name='button', minlength='2')
              .form-group
                label.col-sm-2.control-label(for='telement') Element to screenshot
                .col-sm-10
                  input#telement.form-control(type='text', placeholder='Class name or id of element', name='element', required='', minlength='2', pattern="/([.\\#\\-\\a-z0-9])\\w+/ig")

            // /.box-body
            .box-footer
              if programId
                a.btn.btn-default(href='/management/programs/#{programId}') Cancel
              else
                a.btn.btn-default(href='/management/testcases') Cancel
              button.btn.btn-info.pull-right(type='submit') Save
            // /.box-footer
